<!-- <img class="banner" src="http://placehold.it/850x300"> -->

<div class="header-div">
  <img class="banner" src={{bannerHeader}}>
  <!-- <img class="banner" src="../final-header.png"> -->
</div>

<div class="content-div">
  <nav (click)="setCheckoutProducts()">
    <a routerLink="/dashboard" routerLinkActive="active">Products</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <!-- <a routerLink="/faqs" routerLinkActive="active">FAQs</a> -->
    <a routerLink="/checkout" routerLinkActive="active">Checkout
      <my-cart-counter [cartTotal]="cartTotal" class="counter"></my-cart-counter></a>
    <!-- <a routerLink="/custom" routerLinkActive="active">Custom</a> -->
  </nav>

  <div *ngIf="initModal">
      <my-product-modal
        [isVisible]="showDialog"
        [currentProduct]="currentProductInModal">
      </my-product-modal>
  </div>

  <router-outlet>
    </router-outlet>

  <my-footer></my-footer>

</div>
