/* You can add global styles to this file, and also import other style files */
/* Master Styles */

.contact-form-background {
  width: 1000px;
  z-index: -200;
  position: relative;
}

.counter {
  float: right;
  padding-left: 7px;
  color: red;
}

.biggest-about{
   width: 900px;
   z-index: -1000;
   /*display: none;*/
}

.middle-about{
   width: 760px;
   z-index: -1000;
}

.smallest-about{
   width: 380px;
   z-index: -1000;
}

@media screen and (min-width: 767px){
   .biggest-about{
     display: block;
     z-index: -1000;
   }

   .middle-about{
     display: none;
   }

   .smallest-about{
     display: none;
   }
}

@media screen and (min-width: 480px) and (max-width: 767px){
   .biggest-about{
     display: none;
   }

   .middle-about{
     display: block;
   }

   .smallest-about{
     display: none;
   }
}

@media screen and (max-width: 480px) {
   .biggest-about{
     display: none;
   }

   .middle-about{
     display: none;
   }

   .smallest-about{
     display: block;
   }
}

body {
  /*background-image: 'Final-header-contact.png';*/
  /*background-color: purple;*/
}

.product-image {
  width: 270px;
}

.header-title {
  position: absolute;
  top: 284px;
  width: 145px;
  margin-left: 0px;
  margin-top: 0px;
}

/*router-outlet {
  position: relative;
  margin-top: 800px;
  padding-top: 400px;
  z-index: 0;
}*/

.header-div {
  /*position: absolute;*/
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.content-div {
  max-width: 880px;
  padding-top: 350px;
  margin-top: 0px;
  /*width: 880px;*/
  margin-left: auto;
  margin-right: auto;
  /*float: left;*/
}

.banner {
  width: 880px;
  position: absolute;
  /*float: left;*/
  z-index: -100;
  /*margin-left: 100px;*/
  /*margin-right: auto;*/
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  position: relative;
  top: 2em;
  text-align: center;
  font-size: 3em;
  color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
  margin: 0;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  position: relative;
  text-align: justify;
  width: 85%;
  font-size: 18px;
  margin: 0 auto;
  top: 5em;
}

.product-name {
  position: relative;
  top: 0;
  text-align: center;
}

.dashboard {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  /*width: 70em;*/
  /*background-color: red;*/
  margin: 0 auto;
  overflow: inherit;
  position: relative;
  top: 5em;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  color: slategrey;
  top: 80px;
  position: relative;
  bottom: 0;
  display: block;
  background-color: bisque;
  width: 100%;
  min-height: 10px;
  margin: 2em;
}

.footer #foot-note {
  display: block;
  text-align: center;
  padding: 1em;
}

.contact-form {
  padding: 0.5em;
  padding-top: 0.5em;
  text-align: center;
  opacity: 0.8;
  font-size: 250%;
  width: 80%;
  height: 9em;
  background-color: grey;
  margin: 1em auto;
  border-radius: 10px;
}

.contact-form .contact-name-email {
  height: 30px;
  width: 46.5%;
  margin: 10px auto;
  background-color: linen;
  border-radius: 10px;
}

.contact-button {
  background-color: white;
  color: black;
  border-radius: 40px;
  font-size: 20px;
  height: 30px;
  width: 10em;
}

.contact-form .contact-message {
  border-radius: 10px;
  font-size: 14px;
  background-color: linen;
  position: relative;
  width: 95%;
  height: 20em;
  margin: 10px auto;
  overflow: visible;
  text-align: justify;
  vertical-align: top;
}

@media(max-width: 880px){
  .dashboard {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 47em;
    /*background-color: red;*/
    margin: 0 auto;
    overflow: inherit;
  }
}

@media(max-width: 37em){
  .dashboard {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 20em;
    /*background-color: red;*/
    margin: 0 auto;
    overflow: inherit;
  }
}
